*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #eae8e8;
} 

.master-container {
    margin: auto;
    max-width: 1676px;
}

nav{
    display: flex;
    align-items:center;
    justify-content:space-between;
    background: #0a009c;
    padding: 2px 2%;
    position: sticky; 
    top: 0px;
    z-index: 100;
    height: 3.5rem;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left,.nav-right{
    display:flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    width:40px;
    border-radius:50%;
    cursor:pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.online{
    position:relative;
}
.online::after{
    content:'';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position:absolute;
    top:0;
    right:0;
}
.search-box{
    background:#efefef;
    width:350px;
    border-radius:20px;
    display:flex;
    align-items: center;
    padding: 0 15px ; 
}
.search-box img{
    width: 18px;
}
.search-box input{
    width:100%;
    background: transparent;
    padding: 10px;
    outline:none;
    border:0;
} 
.container{
    display:flex;
    justify-content:space-between;
    margin: 0px 0% 0px 2%;
    max-height: 100dvh;
    overflow: hidden;
}

.left-sidebar{
    /* background: #cbdffa; */
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    position:sticky;
    top: 20px;
    align-self:flex-start;
    /* height :100vh; */
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    height: calc(100vh - 3.5rem);
    overflow: scroll;
    /* background: #cbdffa; */
    /* flex-basis: 25%; */
    /* position:sticky;
    top:70px; */
    /* align-self:flex-start; */
    background : #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    /* height:100vh; */
}
.main-content{
    /* overflow-y: auto; */
    height: calc(100vh - 3.5rem);
    border-left: #62626259 solid 1px;
    border-right: #62626259 solid 1px;
    width: 100%;
    padding: 20px;
    margin: 0px 14px 0px 14px;
}
.imp-links a , .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    color : #626262;
    width : fit-content;
}
.imp-links-img {
    width : 24px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right:15px
}
.shortcut-links p{
    margin : 25px 0;
    color : #626262;
    font-weight : 500px;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:18px;
}
.sidebar-title a{
    text-decoration: none;
    color : #1876f2;
    font-size : 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color:#1876f2;
}

.left-event span{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    background:#1876f2;
    color:#fff;
    font-size:10px;
    padding:4px 0;
}


.right-event p{
    display: flex;
    align-items: center;
    gap: 4px;
}

.sidebar-ads{
    width: 250px;
    margin-bottom:20px;
    border-radius:4px;
}

#custom-sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#custom-sidebar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#custom-sidebar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #626262;
}
